/* styles.css */
.option-img {
    width: 30vw;
    height: 30vw;
    object-fit: cover;
    cursor: pointer;
  }
  
.question {
    margin-bottom: 1.5rem;
  }

.selected {
    box-shadow: 0 0 10px 4px rgba(0, 123, 255, 0.7); /* Blue glow effect */
    border-radius: 5px;  /* Optional: to make the corners rounded */
  }